body {
    margin: 0px;
    background-color: #EBEBE6;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:1px;
    width:1390px;
    height:779px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1390px;
    height:779px;
}

.u1 {
    position:absolute;
    left:2px;
    top:382px;
    width:1386px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:1px;
    width:1390px;
    height:779px
}

.u2_original {
    background-image: url('../Start_screen_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:771px;
    top:315px;
    width:121px;
    height:121px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:121px;
    height:121px;
}

.u3 {
    position:absolute;
    left:2px;
    top:52px;
    width:117px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:771px;
    top:315px;
    width:121px;
    height:121px
}

