body{
	font-family:'Source Sans Pro', sans-serif;
	background-color: white;
}
#content {
	max-width:1200px;
	margin: 10% 20%;
}
#title {
	text-align: left;
}

h1 {
	font-size: 36px;
	margin:0;
	color: #4B4378;
}
h2 {
	font-size: 36px;
	margin:0;
	color: #4B4378;
}

#content .linkedin{
	color:#46C6F8;
}
#content a {
	color: #F9407B;
	font-weight: bold;
	text-decoration: none;
}
p{
	font-size: 24px;
	color: #4B4378;
	margin-top:40px;
	line-height: 36px;
	margin-bottom: 40px;
}
#content #facts{
	font-size:18px;
	line-height: 27px;
}
@media screen and (max-width:1024px) {
	#content{
			margin:10%;
	}
}
@media screen and (max-width:640px) {
	#content{
			margin:40px 20px;
	}
}
