body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1138px;
    height:924px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1138px;
    height:924px;
}

.u1 {
    position:absolute;
    left:2px;
    top:454px;
    width:1134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:1138px;
    height:924px
}

.u3_original {
    background-image: url('../splashscreen_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:320px;
    top:135px;
    width:247px;
    height:435px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:441px;
}

.u4 {
    position:absolute;
    left:2px;
    top:210px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:320px;
    top:135px;
    width:247px;
    height:435px
}

.u6_original {
    background-image: url('../splashscreen_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:130px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:136px;
}

.u7 {
    position:absolute;
    left:2px;
    top:58px;
    width:156px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:130px
}

.u9_original {
    background-image: url('../splashscreen_files/u3_original.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:441px;
}

.u10 {
    position:absolute;
    left:2px;
    top:210px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px
}

.u11_original {
    background-image: url('../splashscreen_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:80px;
    top:52px;
    width:80px;
    height:80px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u12 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:80px;
    top:52px;
    width:80px;
    height:80px
}

.u13 {
    position:absolute;
    left:30px;
    top:273px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica Neue';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:30px;
    top:308px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:67px;
    top:139px;
    width:110px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:30px;
    top:230px;
    width:180px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_original {
    background-image: url('../splashscreen_files/u3_original.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:441px;
}

.u18 {
    position:absolute;
    left:2px;
    top:210px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px
}

.u19_original {
    background-image: url('../splashscreen_files/u19_original.png');
}

.u19_container {
    position:absolute;
    left:17px;
    top:38px;
    width:210px;
    height:180px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:186px;
}

.u20 {
    position:absolute;
    left:2px;
    top:82px;
    width:206px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:17px;
    top:38px;
    width:210px;
    height:180px
}

.u21 {
    position:absolute;
    left:20px;
    top:245px;
    width:200px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:50px;
    top:325px;
    width:150px;
    height:63px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_original {
    background-image: url('../splashscreen_files/u3_original.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:441px;
}

.u24 {
    position:absolute;
    left:2px;
    top:210px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px
}

.u25_original {
    background-image: url('../splashscreen_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:80px;
    top:10px;
    width:70px;
    height:50px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:56px;
}

.u26 {
    position:absolute;
    left:2px;
    top:18px;
    width:66px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:80px;
    top:10px;
    width:70px;
    height:50px
}

.u27 {
    position:absolute;
    left:30px;
    top:151px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica Neue';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:30px;
    top:188px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica Neue';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:30px;
    top:226px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30_original {
    background-image: url('../splashscreen_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:30px;
    top:268px;
    width:16px;
    height:16px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u31 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:30px;
    top:268px;
    width:16px;
    height:16px
}

.u32_text {
    position:absolute;
    left:63px;
    top:268px;
    width:150px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:63px;
    top:268px;
    width:150px;
    height:14px
}

.u33 {
    position:absolute;
    left:30px;
    top:346px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:30px;
    top:107px;
    width:180px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:30px;
    top:320px;
    width:180px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_original {
    background-image: url('../splashscreen_files/u3_original.png');
}

.u37_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:441px;
}

.u38 {
    position:absolute;
    left:2px;
    top:210px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px
}

.u39_original {
    background-image: url('../splashscreen_files/u19_original.png');
}

.u39_container {
    position:absolute;
    left:17px;
    top:38px;
    width:210px;
    height:180px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:186px;
}

.u40 {
    position:absolute;
    left:2px;
    top:82px;
    width:206px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:17px;
    top:38px;
    width:210px;
    height:180px
}

.u41 {
    position:absolute;
    left:20px;
    top:245px;
    width:200px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:50px;
    top:325px;
    width:150px;
    height:63px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_original {
    background-image: url('../splashscreen_files/u3_original.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:441px;
}

.u44 {
    position:absolute;
    left:2px;
    top:210px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px
}

.u45_original {
    background-image: url('../splashscreen_files/u11_original.png');
}

.u45_container {
    position:absolute;
    left:80px;
    top:20px;
    width:80px;
    height:80px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:86px;
}

.u46 {
    position:absolute;
    left:2px;
    top:32px;
    width:76px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:80px;
    top:20px;
    width:80px;
    height:80px
}

.u47 {
    position:absolute;
    left:30px;
    top:208px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Helvetica Neue';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:30px;
    top:243px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49_original {
    background-image: url('../splashscreen_files/u30_original.png');
}

.u49_container {
    position:absolute;
    left:20px;
    top:382px;
    width:16px;
    height:16px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:22px;
    height:22px;
}

.u50 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:20px;
    top:382px;
    width:16px;
    height:16px
}

.u51_text {
    position:absolute;
    left:53px;
    top:382px;
    width:177px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:53px;
    top:382px;
    width:177px;
    height:28px
}

.u52 {
    position:absolute;
    left:30px;
    top:320px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:67px;
    top:107px;
    width:110px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:30px;
    top:294px;
    width:180px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:30px;
    top:165px;
    width:180px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_original {
    background-image: url('../splashscreen_files/u3_original.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:441px;
}

.u58 {
    position:absolute;
    left:2px;
    top:210px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px
}

.u59 {
    position:absolute;
    left:30px;
    top:30px;
    width:180px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_line {
    background-image: url('../splashscreen_files/u60_line.png');
}

.u60_line {
    position:absolute;
    left:10px;
    top:64px;
    width:220px;
    height:3px;
}

.u60 {
    position:absolute;
    left:10px;
    top:64px;
    width:220px;
    height:3px
}

.u61 {
    position:absolute;
    left:20px;
    top:95px;
    width:200px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:20px;
    top:190px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:20px;
    top:225px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:20px;
    top:265px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65_original {
    background-image: url('../splashscreen_files/u3_original.png');
}

.u65_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:441px;
}

.u66 {
    position:absolute;
    left:2px;
    top:210px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px
}

.u67 {
    position:absolute;
    left:30px;
    top:30px;
    width:180px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../splashscreen_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:10px;
    top:64px;
    width:220px;
    height:3px;
}

.u68 {
    position:absolute;
    left:10px;
    top:64px;
    width:220px;
    height:3px
}

.u69 {
    position:absolute;
    left:20px;
    top:95px;
    width:200px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:20px;
    top:195px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71 {
    position:absolute;
    left:20px;
    top:235px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u72_original {
    background-image: url('../splashscreen_files/u3_original.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:441px;
}

.u73 {
    position:absolute;
    left:2px;
    top:210px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px
}

.u74 {
    position:absolute;
    left:35px;
    top:100px;
    width:175px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_original {
    background-image: url('../splashscreen_files/u75_original.png');
}

.u75_container {
    position:absolute;
    left:30px;
    top:310px;
    width:183px;
    height:40px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:189px;
    height:46px;
}

.u76 {
    position:absolute;
    left:2px;
    top:12px;
    width:179px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:30px;
    top:310px;
    width:183px;
    height:40px
}

.u77 {
    position:absolute;
    left:84px;
    top:51px;
    width:60px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:26px;
    top:232px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:96px;
    top:232px;
    width:47px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:166px;
    top:232px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_original {
    background-image: url('../splashscreen_files/u81_original.png');
}

.u81_container {
    position:absolute;
    left:24px;
    top:180px;
    width:35px;
    height:35px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u82 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:24px;
    top:180px;
    width:35px;
    height:35px
}

.u83_original {
    background-image: url('../splashscreen_files/u81_original.png');
}

.u83_container {
    position:absolute;
    left:96px;
    top:180px;
    width:35px;
    height:35px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u84 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:96px;
    top:180px;
    width:35px;
    height:35px
}

.u85_original {
    background-image: url('../splashscreen_files/u81_original.png');
}

.u85_container {
    position:absolute;
    left:176px;
    top:180px;
    width:35px;
    height:35px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:41px;
}

.u86 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:176px;
    top:180px;
    width:35px;
    height:35px
}

.u87_original {
    background-image: url('../splashscreen_files/u3_original.png');
}

.u87_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:441px;
}

.u88 {
    position:absolute;
    left:2px;
    top:210px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px
}

.u89 {
    position:absolute;
    left:30px;
    top:30px;
    width:180px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_line {
    background-image: url('../splashscreen_files/u90_line.png');
}

.u90_line {
    position:absolute;
    left:10px;
    top:64px;
    width:220px;
    height:3px;
}

.u90 {
    position:absolute;
    left:10px;
    top:64px;
    width:220px;
    height:3px
}

.u91 {
    position:absolute;
    left:20px;
    top:95px;
    width:200px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:20px;
    top:209px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u93 {
    position:absolute;
    left:20px;
    top:252px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94 {
    position:absolute;
    left:20px;
    top:289px;
    width:210px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96_original {
    background-image: url('../splashscreen_files/u3_original.png');
}

.u96_container {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:253px;
    height:441px;
}

.u97 {
    position:absolute;
    left:2px;
    top:210px;
    width:243px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:0px;
    top:0px;
    width:247px;
    height:435px
}

.u99_original {
    background-image: url('../splashscreen_files/u99_original.png');
}

.u99_container {
    position:absolute;
    left:70px;
    top:75px;
    width:30px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:36px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:70px;
    top:75px;
    width:30px;
    height:20px
}

.u101_original {
    background-image: url('../splashscreen_files/u101_original.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:80px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:176px;
    height:86px;
}

.u102 {
    position:absolute;
    left:2px;
    top:31px;
    width:166px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:0px;
    top:0px;
    width:170px;
    height:80px
}

